{% extends "base.html" %}

{% block body %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 relative min-h-screen justify-center overflow-hidden bg-black py-6 sm:py-12">
        
        {%include 'diagnose/includes/placard.html' with url_name='alzheimer' para='Alzheimer'%}
        {%include "diagnose/includes/placard.html" with url_name='brain_tumor' para='Brain Tumor'%}
        {%include "diagnose/includes/placard.html" with url_name='tb' para='Tuberculosis'%}
        {%include "diagnose/includes/placard.html" with para='lorem ipsum'%}
        {%include "diagnose/includes/placard.html" with para='lorem ipsum'%}
    </div>

{% endblock body %}